#stockDetails {
  font-size: 12px;
  background: var(--light-primary-color);
  color: #ffffff;
  padding: 6px;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.ant-table-wrapper:nth-child(2) td {
  background: #d6d6d6;
  padding: 4px !important;
}
table thead tr th {
  border-right: 0 !important;
}