/* 
button:nth-child(1) {
    background: white;
    border: #40a9ff 2px solid;
    color: #40a9ff;
    margin-top: 10%;
    margin-bottom: 2%;
    border-radius: 3px;
    width: 96%;
    height: 33px;
    cursor:pointer;
} */
